body {
  background-color: #E5F1FF;
}

.navbar-default {
  color: #7CACF8;
}

p {
  font-family: 'Century Gothic', sans-serif;
  color: #000000;
}

.header {
  color:#85AFE1;
}
.sub {
   color:#97B9E1;
 }
